<div class="row">
    <div class="col-4" *ngIf="usuarios.length">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Usuarios</h4>

                <table class="table table-hover">

                    <tbody>
                        <tr *ngFor="let usuario of usuarios" (click)="router.navigate(['/usuarios']);" class="pointer">
                            <td>
                                <img class="img-50 img-circle" [src]="usuario.img | image" alt="">
                            </td>
                            <td>{{ usuario.nombre }}</td>
                        </tr>
                    </tbody>

                </table>

            </div>
        </div>
    </div>
    <div class="col-4" *ngIf="medicos.length">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Médicos</h4>

                <table class="table table-hover">

                    <tbody>
                        <tr *ngFor="let medico of medicos" (click)="router.navigate(['/medico', medico._id])" class="pointer">
                            <td>
                                <img class="img-50 img-circle" [src]="medico.img | image:'medico'" alt="">
                            </td>
                            <td>{{ medico.nombre }}</td>
                        </tr>
                    </tbody>

                </table>

            </div>
        </div>
    </div>
    <div class="col-4" *ngIf="hospitales.length">
        <div class="card">
            <div class="card-body">

                <h4 class="card-title">Hospitales</h4>

                <table class="table table-hover">

                    <tbody>
                        <tr *ngFor="let hospital of hospitales" (click)="router.navigate(['/hospitales'])" class="pointer">
                            <td>
                                <img class="img-50 img-circle" [src]="hospital.img | image:'hospital'" alt="">
                            </td>
                            <td>{{ hospital.nombre }}</td>
                        </tr>
                    </tbody>

                </table>

            </div>
        </div>
    </div>
</div>